<section class="tabs-content" id="blog">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    
                    <div id="post"  class="col-md-9">
                        
                        {% for i in (1..paginator.per_page) %}
                        {% assign idx = i | minus:1 %}
                        {% if paginator.posts[idx] %}
                        
                        <div class="tabgroup">
                            
                            {% if paginator.posts[idx].image %}
                            <img src="{{ site.url2 }}/img/{{ paginator.posts[idx].image }}" alt="{{ paginator.posts[idx].title }}">
                            {% endif %}
                            <div class="text-content">
                                <h4>{{ paginator.posts[idx].title }}</h4>
                                <ul class="info-post">
                                    <li><i class="fa fa-user"></i>{{ paginator.posts[idx].author }}</li>
                                    <li><i class="fa fa-calendar"></i>{{ paginator.posts[idx].date | date: "%B %d, %Y" }}</li>
                                    <li><i class="fa fa-wechat"></i><a class="comments" href="{{ paginator.posts[idx].url }}#disqus_thread"></a></li>
                                    
                                </ul>
                                <p>{{ paginator.posts[idx].excerpt }}</p>
                                
                                <div class="primary-button"><a href="{{ paginator.posts[idx].url }}">Continue Reading</a></div>
                                
                            </div>
                        </div>
                        
                        <br />
                        
                        {% endif %}
                            
                        {% endfor %}
                        
                       
                    {% if paginator.total_pages > 1 %}
                    <ul class="pagination">
                      {% if paginator.previous_page %}
                        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
                      {% else %}
                        <li><span>&laquo; Prev</span></li>
                      {% endif %}
            
                      {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                          <li class="active"><span><em>{{ page }}</em></span></li>
                        {% elsif page == 1 %}
                        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
                        {% else %}
                        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                        {% endif %}
                      {% endfor %}
            
                      {% if paginator.next_page %}
                        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
                      {% else %}
                        <li><span >Next &raquo;</span></li>
                      {% endif %}
                      </ul>
                    {% endif %}
                        
                    </div>
                    
                    <div id="post-side" class="col-md-3">
                        <div class="tabgroup">
                            <div class="text-content">
                            
                            <h4>Categories</h4>
                               
                                <hr>
                                <div class="side-bar-item">  
                                    <span><a href="category/git">Git</a></span>
                                    <hr>
                                    <span><a href="category/devops">Dev Ops</a></span>
                                    <hr>
                                        
                                </div>
                            </div>
                        </div>
                        <br>
                        
                        <div class="fb-page" data-href="https://www.facebook.com/sanfyin/" data-width="420"></div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
