<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                    <p>Copyright &copy; 2018 Sanfy.In <br> 
                    Theme by <a href="http://www.html5max.com" target="_parent">HTML5 Max</a></p>                    </div>
            <div class="col-md-4 col-sm-12">
                <ul class="social-icons">
                    <li><a href="{{site.facebook}}"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="{{site.linkedin}}"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="{{site.twitter}}"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="{{site.github}}"><i class="fa fa-github fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="col-md-2 col-md-offset-2 col-sm-12">
                <div class="back-to-top">
                    <a id="top" href="">
                        <i class="fa fa-angle-up"></i>
                        back to top
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
