---
layout: page
---

    <section class="tabs-content" id="blog">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div id="post"  class="col-md-9">
                        <div class="tabgroup">
                            
                            {% if page.image %}
                            <img src="img/{{ page.image }}" alt="{{ page.title }}">
                            {% endif %}
                            <div class="text-content">
                                <h4>{{ page.title }}</h4>
                                <ul class="info-post">
                                    <li><i class="fa fa-user"></i>{{ page.author }}</li>
                                    <li><i class="fa fa-calendar"></i>{{ page.date | date: "%B %d, %Y" }}</li>
                                    <li><i class="fa fa-wechat"></i><a class="comments" href="{{ page.url }}#disqus_thread"></a></li>
                                    
                                </ul>
                                <p>{{ page.excerpt }}</p>
                                
                                {{ page.content }}
                                
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                            {% if site.disqus-shortname %}
                             {% include disqus.html %}
                            {% endif %}
                            </div>
                        </div>
                        
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="service-item first-service">
                                    
                                    {% if page.previous %}
                            
                                    <div class="icon">
                                        <img src="img/{{ page.previous.image }}" alt="" class="img-thumbnail img-responsive">
                                    </div>
                                    <h4>{{ page.previous.title }}</h4>
                                    <div class="primary-button">
                                        <a href="{{ page.previous.url }}"><< Previous</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="service-item second-service">
                                    {% if page.next %}
                            
                                    <div class="icon">
                                        <img src="img/{{ page.next.image }}" alt="" class="img-thumbnail img-responsive">
                                    </div>
                                    <h4>{{ page.next.title }}</h4>
                                    <div class="primary-button">
                                        <a href="{{ page.next.url }}">Next >></a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>

                    <div id="post-side" class="col-md-3">
                        <div class="tabgroup">
                            <div class="text-content">
                            {% for category_name in page.categories limit:1 %}
                                <h4>Related Posts</h4>
                                <hr>
                                    <div class="side-bar-item">  
                                        {% for post in site.categories[category_name] limit:5 %}
                                        
                                            {% if post.url != page.url %}
                                            <span><a href="{{ post.url }}">{{ post.title }}</a> Published on {{ page.date | date: "%B %d, %Y" }}</span>
                                            <hr>
                                            {% endif %}

                                        {% endfor %}
                                    </div>
                            {% endfor %}
                            </div>
                        </div>
                        <br>
                        
                        <div class="fb-page" data-href="https://www.facebook.com/sanfyin/" data-width="420"></div>
                        
                    </div>

                </div>
            </div>
        </div>
    </section>
